/*############## Defaults ###############*/
nav,
header,
footer {
    display: block;
}

body {
    line-height: 1;
    margin: 0;
    background-color: #ddebfe;
}

.img {
    max-width: 100%;
    height: auto;
    padding: 5px;
}


/*############## Nav bar ##############*/

nav {
    width: 100%;
    margin: 0;
}

.topnav {
    overflow: hidden; 
    display:flex; 
    background-color: #b0ddff;
    box-shadow: 0px 1.2px 2px 0px #7faeff;
    display: -webkit-flex;
    justify-content:space-between;
    -webkit-justify-content:space-between;
    width:100%;
}



nav.topnav ul {
    overflow: hidden;
    margin: 0;
    padding: 0;
    padding-left: 5rem;
    list-style-type: none;
    width: 100%;
}

nav.topnav ul li {
    list-style: none;
    float: left;
    border-width: 1.4px;
    margin-top: 0.2rem;
    margin-bottom: 0rem;
    margin-left: 0.5rem;
    border-radius: 22px;
}

nav.topnav ul div.right-topnav {
    display: -webkit-flex;
    float:right;
    padding-right: 4rem;
}


nav.topnav ul li a {
    font-family: "Comfortaa";
    display: block;
    text-decoration: none;
    min-height: 0.5rem;
    text-align: center;
    padding: 0.8rem;
    /* text-transform: uppercase; */
    color: rgb(6, 68, 255);
    transition: 0.4s;
}

nav.topnav ul li a:hover {
    background-color: white;
    color: #005eff;
    border-style: solid;
    border-color: #7c89ff;
    background-color: rgb(255, 255, 255);
    border-width: 1.4px;
    /* margin-right: 0.5rem;
    margin-left: 0.2rem; */
    margin-bottom: 0.3rem;
    margin-top: 0.2rem;
    border-radius: 25px;
}

nav.topnav ul li.dropdownIcon {
    display: none;
    margin-right: 0.5rem;
    width: 6rem;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #404040;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    width: 9.1rem;
    z-index: 1;
}

/*############ Main Content ################*/
.mainContent {
    font-family: "Comfortaa";
    margin-left: 5rem;
    margin-right: 5rem;
    padding-left: 0rem;
    padding-bottom: 10%;
}

.mainContent h1 {
    padding-left: 15%;
    padding-right: 30%;
    /* padding-bottom: 1%; */
    text-shadow: 2px 1.4px #1e70ff;
    padding-top: 0.7rem;
    line-height: 2.1rem;
}

.mainContent p {
    color: black;
    padding-left: 15%;
    padding-right: 30%;
    line-height: 1.25rem;
}

nav.topnav ul li a {
    font-size: 1rem;
    margin-trim: 3rem;
}

.error404 {
    text-shadow: 2px 2px #005eff;
    padding-left: 1%;
}

.singleLink {
    color: black;
    padding-left: 15%;
    padding-right: 15%;
    line-height: 1.25rem;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.frontImage {
    aspect-ratio: 25 / 10;
    width: 60%;
    height: 30%;
    padding-left: 15%;
    box-sizing: border-box;
    transition: transform .2s;
}

div.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #a8d3f4;
    color: rgb(121, 121, 121);
    padding-left: 0.4%;
    padding-top: 0.3%;
    height: 1.1rem;
    text-align: left;
    box-shadow: 0px 3px 7px 0px #7da6ed;
    font-family: "Comfortaa";
    font-weight: 900;
    font-size: 0.8rem;
    font-stretch: expanded;
}

/*############# Mobile #############*/
@media screen and (max-device-width: 600px) {
    nav.topnav ul li:not(:nth-child(1)) {
        display: none;

    }
    nav.topnav ul div.right-topnav li:not(:nth-child(3)){
        display: none;

    }

    .mainContent {
        padding-left: 1rem;
    }

    .frontImage {
        resize: both;
        width: 100%;
    }

    .mainContent h1 {
        padding-right: 15%;
        line-height: 4rem;
        font-size: 3rem;
    }

    nav.topnav ul li a {
        font-size: 2.9rem;
    }

    .singleLink {
        font-size: 2.1rem;
        line-height: 2.6rem;
    }

    .mainContent p {
        padding-right: 15%;
        line-height: 3rem;
        font-size: 1.8rem;
    }

    nav.topnav ul li.dropdownIcon {
        display: grid;
        float: right;
    }

    nav.topnav.responsive li.dropdownIcon {
        position: absolute;
        top: 0;
        right: 0;

    }


    nav.topnav ul {
        display:table;
        clear:both;
        position: relative;
        padding-left: 0rem;
        float:left;
    }

    nav.topnav ul div.right-topnav {
        display:grid;
        float:right;
        padding-right: 0rem;
    }
    
    nav.topnav.responsive ul {
        display:grid;
        padding-left: 0rem;
        border: 25px;
        float:left;
    }
    nav.topnav.responsive ul li {
        display:block;
        
        -webkit-justify-content:space-evenly;
        border: 25px;
        float:left;
    }
    nav.topnav.responsive ul div.right-topnav li {
        display: block;
        justify-content:space-evenly;
        -webkit-justify-content:space-evenly;
        border: 25px;
        padding-right: 0rem;
        float:left;
    }


    nav.topnav.responsive ul li a {
        text-align: left;
        background-color: #b0ddff;
        color: white;
        border-radius: 20px;
        transition: 0.3s;
    }

    nav.topnav.responsive ul.right-topnav li a {
        display: block;
        text-align: left;
        background-color: #b0ddff;
        color: white;
        border-radius: 20px;
        transition: 0.3s;
    }


    nav.topnav.responsive ul {
        overflow:scroll;
    }



    nav.topnav.responsive ul li a:hover {
        background-color: white;
        color: #005eff;
        border-radius: 25px;
    }
    nav.topnav.responsive ul.right-topnav li a:hover {
        background-color: white;
        color: #005eff;
        border-radius: 25px;
    }

    .frontImage {
        padding-left: 15.2%;
        padding-right: 15.3%;
    }

    div.footer {
        height: 2rem;
        font-size: 1.7rem;
        padding-top: 0.8%;
        padding-left: 1.5%;
    }
}